button {
  background-color: dodgerblue;
  border-block-color: dodgerblue;
  border-radius: 10px;
}

  button a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  button a:hover {
      color:white;
  }

  .join{
      background-color:chartreuse;
  }
  .leave{
      background-color:red;
  }
